body{
    background-color: rgba(202, 226, 243, 0.945);
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    
}
.wrapper{
    width:100%;
    box-sizing: border-box;
    padding:20px;
    text-align: center;
    
}
.sky{
    background-color: rgb(72, 107, 182);
    width: 100%;
    height: 45%;
    box-sizing: border-box;
}
.grass{
    box-sizing: border-box;
    background-color: rgb(34, 190, 55);
    height: 30%;
}
.road{
    box-sizing: border-box;
    height: 40%;
    background-color: rgba(153, 142, 170, 0.842);
}
.lines{
    box-sizing: border-box;
    border: 5px dashed #f7f0f0;
    position: relative;
    height:0%;
    width: 100%;
    top:50%;
  
}

.imge{
    
  transform:scale(1.2) translatey(70px) rotate(30deg);  
}
.mario{
    box-sizing: border-box;
    position: relative;
    left:0%;
    height: 60px;
    top:44px;
    animation-name: letsgo;
    animation-duration: 4s;
    animation-fill-mode:both;
   animation-iteration-count: infinite;
}
@keyframes letsgo{
    from{ transform: translateX(-200px)}
    to{
        transform: translateX(1390px)         
    }
}